<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984454279540-mbk08adh2q1ivltrmndp6d0tdcsueedq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984454279540-mbk08adh2q1ivltrmndp6d0tdcsueedq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>984454279540-jv89beubq05591j0fh48a9e6mg8j07ge.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1abRf2ePzL2jcMi08sFF0_VMpSbpG5_k</string>
	<key>GCM_SENDER_ID</key>
	<string>984454279540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.VRDa1-Event</string>
	<key>PROJECT_ID</key>
	<string>vrda1-event</string>
	<key>STORAGE_BUCKET</key>
	<string>vrda1-event.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984454279540:ios:5ba564d4b53990a7df3c21</string>
</dict>
</plist>